[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datasette = "*"
datasette-saved-queries = "*"
datasette-plot = "*"
datasette-write-ui = "*"
datasette-create-view = "*"
datasette-edit-schema = "*"
datasette-publish-vercel = "*"
pyyaml = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
