[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datasette = "==1.0a19"
datasette-saved-queries = "==0.2.2"
datasette-plot = "==0.1.0"
datasette-write-ui = "==0.0.1a13"
datasette-create-view = "==0.1"
datasette-edit-schema = "==0.7.1"
pyyaml = "==6.0.3"
jsonschema = "==4.26.0"

[dev-packages]
pytest = "==9.1.1"

[requires]
python_version = "3.12"
